#graph {
  width: 30rem;
}
.graph {
  width: 30rem;
}
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
}
.display {
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}
.expenses {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* width: 90vw; */
  /* overflow: scroll; */
}
